BRIGHTCHAIN_BLOCKSTORE_PATH=
BRIGHTCHAIN_BLOCKSIZE_BYTES=1048576
BRIGHTCHAIN_BLOCKSTORE_TYPE=disk
USE_MEMORY_DOCSTORE=true
DEV_DATABASE=example
MEMBER_POOL_NAME=BrightChain
JWT_SECRET=
API_DIST_DIR=/workspaces/digitaldefiance-express-suite-example-brightstack/dist/express-suite-example-brightstack-api
REACT_DIST_DIR=/workspaces/digitaldefiance-express-suite-example-brightstack/dist/express-suite-example-brightstack-react
DEBUG=true
DETAILED_DEBUG=true
MNEMONIC_ENCRYPTION_KEY=
MNEMONIC_HMAC_SECRET=
